@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.subset.woff2") format("woff2");
  font-weight: 100 900;
}

html {
  scrollbar-gutter: stable;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 550;
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
}
